<div id="1" class="card c-border"> <!-- id me sirve para traer el foo()-->
    <div class="card-body">
    <div class="row">
      <div class="col-md-10">
        <h2>
          Acerca de
        </h2>
      </div>
      <div class="col-md-2">
        <div class="btn-edit" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right"><i class="bi bi-pencil-fill" ></i></a>

      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p id="text-acercade">
            IT A. de Sistemas, soporte tecnico senior. Full stack-dev  
        </p>
      </div>
      <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
      </div>
    </div>
  </div>
  </div>