<div class="card c-border">
    <div class="card-body">
      <div class="row">
        <div class="col-md-11">
          <h2>Educacion</h2>
        </div>
        <div class="col-md-1">
          <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right"><i class="bi bi-plus-circle"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <img
              alt="Bootstrap Image Preview"
              src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg"
              width="50"
              height="50"
            />
          </div>
          <div class="col-md-5">
            <h5>Carrera</h5>
            <p class="text-muted">
              <small> periodo</small>
            </p>
            <h6 class="text-muted">universidad</h6>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-1">
            <div class="btn-edit" onclick="cambiar_parrafo()">
              <a href="#" class="btn-right"
                ><i class="bi bi-pencil-fill"></i
              ></a>
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-edit" onclick="cambiar_parrafo()">
              <a href="#" class="btn-right"><i class="bi bi-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>