<div class="card c-border">        

    <!-- BANNER -->
      <div class="card-body" id="banner">
        <a href="#" class="btn-right"><i class="bi bi-pencil-fill" ></i></a>
        <div id="test-br"></div>

        
    <!-- banner -->
     
    <!-- FOTO PERFIL-->
        <div class="row">
            <div class="col-md-5">
              <a href="#" class="btn-right"><i class="bi bi-pencil-fill" ></i></a>
                <img  alt="foto de perfil" width="150" height="150" src="https://media-exp1.licdn.com/dms/image/C5603AQFvPb10qASftg/profile-displayphoto-shrink_200_200/0/1639259855146?e=1658966400&v=beta&t=Siqbl1Ivnta9j-YZXAB7Y5kU3lRAp55DI6NXG8NpuMQ" class="rounded-circle" />
            </div>
            
          <!-- Boton de edicion-->    
        </div>
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-10">
              <a href="#" class="btn-right"><i class="bi bi-pencil-fill" ></i></a> 
             </div>
            
            
        </div>
        <!-- INFO PERSONAL-->
        <div class="row">
            <div class="col-md-5">
                    <h3>Franco Perrone</h3>
                    <h5>Full Stack Dev JR</h5>
                    
                        
                        
                        
                        <!-- BOTON CRUZ-->
                        <!--  <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="bi-x-lg"></i> </button> -->
                    
                
                <div class="btn-group" >
                     
                    <button class="btn btn-primary" type="button">
                        Tengo interes en
                    </button> 
                    <button class="btn btn-secondary" type="button">
                        Añadir Sección
                    </button> 
                    <button class="btn btn-secondary" type="button">
                        Más
                    </button> 
                    
                </div>
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img alt="Bootstrap Image Preview" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1652360229/APLogo-20-20.png" width="50" height="50" />
                    </div>
                </div>
            </div>
        </div>
      </div>
        
</div>