<header>
  <!--DIV ARG PROGRAMA-->
  <img
    alt="Bootstrap Image Preview"
    src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1652360229/APLogo-20-20.png"
    width="50"
    height="50"
  />#ArgentinaPrograma

  <!-- DIV SOC MEDIA-->
  <div id="soc-media">
    <!-- Linkedin -->
    <a
      style="color: #55acee"
      href="https://www.linkedin.com/in/francoperronerey1991/"
      target="_blank"
      role="button"
      ><i class="fab fa-linkedin fa-lg"></i
    ></a>

    <!-- WhatsApp -->

    <a
      style="color: #2bac4b"
      href="https://api.whatsapp.com/send/?phone=5491165297111&text=Hola+Franco%2C+&type=phone_number&app_absent=0"
      target="_blank"
      role="button"
      ><i class="fab fa-whatsapp fa-lg"></i
    ></a>

    <!-- Login -->
    <button
      type="button"
      class="btn btn-outline-success"
      data-mdb-ripple-color="#000000"
    >
      Login
    </button>
  </div>
</header>

<body>
  <!-- CARD PRINCIPAL-->

  <app-encabezado></app-encabezado>

  <!-- CARD ABOUT-->

  <!-- boton carga de archivo
    <input type="file" id="file1" onchange="showFile(this)"> -->
  <app-acerca-de></app-acerca-de>

  <!-- CARD EXPERIENCIA-->
  <app-experiencia></app-experiencia>

  <!-- CARD EDUCACION-->
  <app-educacion></app-educacion>

  <!-- CARD SOFT & HARD SKILLS-->
  <app-skills></app-skills>

  <!-- PROYECTOS -->
  <app-proyectos></app-proyectos>
</body>
