<div class="card c-border">
    <div class="card-body">
      <div class="row">
        <h3>Hard And Soft Skills</h3>
      </div>
      <div class="row">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 80%"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            Ingles
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 90%"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            Operaciones de TI
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width: 75%"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            MS Office
          </div>
        </div>
      </div>
    </div>
  </div>